<div class="row mx-4 mt-4">
  <div class="col-3">
    <%= render 'user_card' %>
  </div>
  <div class="col-9 px-5">
    <!-- Jumbotron -->
    <div class="jumbotron jumbo-custom">
      <div class="container">
        <h1 class="display-4 font-weight-fold">Insta Friends</h1>
        <p class="lead">New ways to find and join communities</p>
      </div>
    </div>
    
  <!-- suggested friends -->
  </div>
  <div class="col-3 mt-4">
    <h5>Friends</h5>
    <div>
      <% @friends.each do |friend| %>
      <div class="mb-2">
        <%= link_to user_path(friend) do%>
          <%= gravatar_helper friend %>
          <span><%= friend.name %></span>
        <% end %>
      </div> 
      <% end %>
    </div>
  </div>
  <div class="col-9 pr-0 mt-4  pr-0 px-5">
    <h5>Suggested friends</h5>
    <div class="custom-card-container ">
      <%= render @suggested_people %>
    </div>
    <!-- Create post form -->
    <%= render 'posts/form'%>
  </div>
  <!-- Posts container -->
  <div class="row py-4">
    <% left_posts = [] %>
    <% right_posts = [] %>
    <% @posts.length.times do |i| %>
      <% i.even? ? left_posts.push(@posts[i]) : right_posts.push(@posts[i]) %>
    <% end %>
    <div class="col-6">
      <%= render left_posts %>
    </div>
    <div class="col-6">
      <%= render right_posts %>
    </div>
    
    
  </div>
</div>

