<div class="mt-4 card p-3">
	<div>
		<span class="h6 p-2 mr-2 custom-status">Status</span>
		<span class="h6 p-2 mr-2 ">Photos</span>
		<span class="h6 p-2 mr-2 ">Videos</span>
	</div>
	<div>
		<%= form_for(@new_post) do |f| %>
		  <div class="d-flex my-4">
				<%= gravatar_helper current_user %>
				<div class="post-input">
					<div>
						<%= f.text_field :content, placeholder: "What’s on your mind,  #{current_user.name.split.first} ?", class: "pl-4" %>
					</div>
					<div>
						<%= f.text_field :image_link, placeholder: "Add an image link here", class: "pl-4" %>
					</div>
				</div>
			</div>
			<div>
			<div class="d-flex justify-content-between align-items-center container">
				<div>
					<span class="h5 mr-4 align-center"><i class="custom-icon-size icon-blue fa fa-smile-o mr-1" aria-hidden="true"></i>People</span>
					<span class="h5 mr-4 align-center"><i class="custom-icon-size icon-red fa fa-bed mr-1" aria-hidden="true"></i>Checkin</span>
					<span class="h5 mr-4 align-center"><i class="custom-icon-size icon-yellow fa fa-snowflake-o mr-1" aria-hidden="true"></i>Mood</span>
				</div>
				<%= f.submit "Share", class: 'btn btn-primary px-5 mr-5' %>
			</div>
			
		<% end %>
	</div>
</div>
