<p><%= link_to post.content, post %></p>
<% if post.image_link != "" && !post.image_link.nil? %>
  <img src="<%= post.image_link  %>" alt="<%= post.content  %>">
<% end %>
<p><%= post.user.name %></p>
<%= link_to "Edit post", edit_post_path(post), class: 'btn btn-primary' %>
<%= link_to "Delete post", post, method: :delete, class: 'btn btn-primary' %>