<div class="post-background mb-4 rounded">
  <div class="p-3 d-flex justify-content-between align-items-center">
    <div>
      <%= gravatar_helper current_user %>
      <span class="ml-2 h6"><%= current_user.name %></span>
    </div>
    <div>
      <span class="ml-2 text-secondary"><%= time_ago_in_words(post.created_at) %> ago</span>
    </div>
  </div>
  
  <% if post_exists?(post) %>
    <img src="<%= post.image_link %>" alt="<%= post.content %>" class="post-image">
  <% end %>
  
  <div class="card-body">
    <p><%= post.content %></p>
    
    <%= link_to "View all #{post.comments.count} comments", post, class: 'd-block mb-2 font-weight-bold' %>
    
    <div>
      <% get_three_comments(post).each do |comment| %>
        <div class="mb-1">
          <%= link_to comment.user.name, comment.user, class: 'font-weight-bold' %>
          <span><%= comment.content %></span>
        </div>
      <% end %>
    </div>
    
    
    <div class="d-flex custom-post-comment mt-4">
      <div>
        <% if liked?(post) %>
          <%= link_to post_like_path(post.id, id: current_like(post).id), method: :delete, class: "text-muted-red" do %>
            <i class="fa fa-heart icons" aria-hidden="true"></i>
          <% end %>
        <% else %>
          <%= link_to post_likes_path(post), method: :post, class: "text-muted-custom" do %>
            <i class="fa fa-heart icons" aria-hidden="true"></i>
          <% end %>
        <% end %>
      </div>
      <div>
        <%= link_to post, class: "text-muted-custom" do %>
          <i class="fa fa-comment icons" aria-hidden="true"></i>
        <% end %>
      </div>
      <div>
        <%= link_to post, class: "text-muted-custom" do %>
          <i class="fa fa-share icons" aria-hidden="true"></i>
        <% end %>
      </div>
    </div>
  
  </div>
  
</div>

