<div class="card">
  <p><%= link_to post.content, post %></p>
  <% if post_exists?(post) %>
    <img src="<%= post.image_link %>" alt="<%= post.content %>">
  <% end %>
  <p><%= post.user.name %></p>
  <div>
    <span><%= pluralize(post.comments.count, 'comment') %></span>
    <span><%= pluralize(post.likes.count , 'like') %></span>
  </div>
  <div>
    <span><%= link_to  'Comment', post %></span>
    <% if liked?(post) %>
      <span><%= link_to 'Unlike', post_like_path(post.id, id: current_like(post).id), method: :delete %></span>
    <% else %>
      <span><%= link_to 'Like', post_likes_path(post), method: :post %></span>
    <% end %>
  </div>
  
  <div>
    <% if current_post?(post) %>
      <span><%= link_to "Edit post", edit_post_path(post), class: 'btn btn-primary' %></span>
      <span><%= link_to "Delete post", post, method: :delete, class: 'btn btn-primary' %></span>
    <% end %>
  </div>
</div>