<div class="card">
  <p><%= link_to post.content, post %></p>
  <% if post_exists?(post) %>
    <img src="<%= post.image_link %>" alt="<%= post.content %>">
  <% end %>
  <p><%= post.user.name %></p>
  <p><%= post.comments.count %> comments</p>
  <%= link_to  'Comment', post %>
  <% if current_post?(post) %>
    <%= link_to "Edit post", edit_post_path(post), class: 'btn btn-primary' %>
    <%= link_to "Delete post", post, method: :delete, class: 'btn btn-primary' %>
  <% end %>
</div>