<!DOCTYPE html>
<html>
  <head>
    <title>FacebookClone</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag "https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" %>
  </head>

  <body>
    <!-- Navigation starts -->    
    <nav class="navigation py-2 bg-white">
      <% if current_user.nil? %>
        <%= link_to new_user_session_path, class: 'nav-item nav-link' do %>
          <%= image_tag("home", :alt => "rss feed") %>
        <% end %>
      <% else %>
        <%= link_to root_path do %>
          <%= image_tag("home", :alt => "rss feed") %>
        <% end %>
        <%= link_to users_path do %>
          <%= image_tag("home", :alt => "rss feed") %>
        <% end %>
        <%= link_to current_user do %>
          <%= gravatar_helper current_user %>
        <% end %>
        <%= link_to user_friend_requests_path(current_user) do %>
          <%= image_tag("home", :alt => "rss feed") %>
        <% end %>
        <%= link_to destroy_user_session_path, method: :delete do %>
          <%= image_tag("home", :alt => "rss feed") %>
        <% end %>
      <% end %>
    </nav>
    
    <!-- Navigation end -->
    
    <% flash.each do |message_type, message| %>
        <%= content_tag(:div, message, class: "alert alert-#{message_type}") %>
      <% end %>
    
      <%= yield %>
  </body>
</html>
