<!DOCTYPE html>
<html>
  <head>
    <title>FacebookClone</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag "https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" %>
  </head>

  <body>
    <!-- Navigation starts -->    
    <nav class="navigation bg-white">
      <% if current_user.nil? %>
        <div class="nav-box"><%= link_to 'Sign up', new_user_registration_path, class: 'main-nav-link'  %></div>
        <div class="nav-box"><%= link_to 'Log in', new_user_session_path, class: 'main-nav-link'  %></div>
        <div class="nav-box"><%= link_to 'Log in with Facebook', user_facebook_omniauth_authorize_path, class: 'main-nav-link'  %></div>
      <% else %>
        <div class="nav-box"><%= link_to 'Home', root_path, class: 'main-nav-link'  %></div>
        <div class="nav-box"><%= link_to 'Users', users_path, class: 'main-nav-link' %></div>
        <%= link_to current_user do %>
          <%= gravatar_helper current_user %>
        <% end %>
        <div class="nav-box"><%= link_to 'Friend Requests', user_friend_requests_path(current_user), class: 'main-nav-link' %></div>
        <div class="nav-box"><%= link_to 'Log out',destroy_user_session_path, method: :delete, class: 'main-nav-link' %></div>
      <% end %>
    </nav>
    
    <!-- Navigation end -->
    
      <%= yield %>
      <%= alerts %>
  </body>
</html>
